<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item *ngFor="let data of allData">
        <button mat-raised-button (click)="showTable(data)">{{ data.name | capitalize }}</button>
        <!-- <button mat-icon-button (click)="showInfo(data)"> -->
        <!-- <mat-icon>info</mat-icon> -->
        <!-- </button> -->
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-table #table [dataSource]="dataSource">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <ng-container *ngFor="let Column of displayedColumns" matColumnDef="{{Column }}">
        <mat-header-cell *matHeaderCellDef>{{Column | capitalize}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element[Column]}}</mat-cell>
      </ng-container>
    </mat-table>
    <mat-paginator #paginator [pageSize]="13">
    </mat-paginator>
  </mat-drawer-content>
</mat-drawer-container>
