@import 'colours';
.draggable-box {
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: green;
    top: 0;
    left: 0;
}

mat-drawer-container {
    height: 100%;
    mat-drawer {
        width: 160px; // 
        border-right: 0.55px solid $pale-sky;
    }
    position: relative;
}

mat-list-item {
    padding: 0;
    button {
        height: 100%;
        width: 125%;
        text-align: center;
        font-size: 14px;
        margin: 0 -16px;
    }
    div {
        padding: 0 !important;
    }
}

mat-nav-list {
    padding: 0;
}

mat-paginator {
    position: absolute;
    width: 100%; // bottom: 0;
    button {
        font-family: 'Material Icons' !important;
    }
}

.mat-paginator-navigation-previous {
    color: red;
    background-color: red;
    &:before {
        content: 'f053';
    }
}

.mat-paginator-navigation-next {
    &:before {
        content: 'f054';
    }
}

.mat-row {
    min-height: 76px;
}