<app-sidebar>
  <div class="sidebar-item {{item.classes}}" (click)="openPage(item.route)" [class.sidebar-item-selected]="page == item.route"
    *ngFor="let item of menu">
    <i class="fa {{item.icon}}" aria-hidden="true"></i>
  </div>
</app-sidebar>
<div class="toolbar">
  <h1>
    {{ page | capitalize}}
  </h1>
</div>

<app-db-viewer (newData)="getErrors($event)" [hidden]="!(page == 'home')"></app-db-viewer>
<app-error [(errors)]="errors" [hidden]="!(page == 'error')"></app-error>
<app-settings [hidden]="!(page == 'settings')"></app-settings>
